@keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  .animate-gradient {
    animation: gradientAnimation 10s ease infinite;
    background: linear-gradient(-45deg, #6a11cb, #2575fc, #6a11cb, #ff4981);
    background-size: 400% 400%;
  }
  